*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}



/* login pagina */
.body__login{
    background-image: url("../img/peakpx.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
    color: black;
}


.form__login{
    border-radius: 3rem;
    width: 50rem;
    box-shadow: 0 2.0rem 5rem rgb(0 0 0 / 55%);
    background: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 4rem;
    font-size: 3rem;
    gap: 2rem;
}

.form__login--h2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    border-bottom: 0.2px solid lightgrey;
}

.form__login--div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input__veld{
    display: block;
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 0.1rem solid black;
    background: #EEEEEE;
}

.form__login--submit{
    font-size: 1.6rem;
    border: 0.1rem solid black;
    background: green;
    color: white;
    width: 100%;
    height: 5rem;
}

.form__login--submit:hover{
    cursor: pointer;
}

.error{
    font-size: 1.9rem;
    color: red;
}

/* Einde login pagina */